/* Services  */
.light-wrapper {
    background:#fbfbfb;
}
.inner {
    padding-top:100px;
    padding-bottom:100px;
}
.section-title {
    font-size:36px;
    line-height:40px;
    text-transform:uppercase;
    margin-bottom:15px;
    font-weight:600;
}
.main.lead {
    margin-bottom:80px;
}
.lead {
    font-size:17px;
    line-height:24px;
    font-weight:normal;
    text-transform:uppercase;
    margin-bottom:15px;
    color:#2e2e2e;
    position:relative;
}
.lead:after {
    position:absolute;
    content:' ';
    background:#ed0121;
    width:80px;
    height:3px;
    bottom:-22px;
    left:50%;
    margin-left:-40px;
}
.story .col-wrapper {
    padding:0 10px;
}
.story .icon-wrapper {
    position:relative;
    height:80px;
    margin-top: 40px;
}

/* Side Navbar */


.sidenav {
    height: 100%;
    width: 200px;
    position:left;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    
}
.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}
.sidenav a:hover {
    background-color: #ddd;
    color: black;
}

.t{
    color:white;
    }   

/* About Us */

body{font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif}
h1,h2,h3,h4,h5,h6{font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:700}
header.masthead{position:relative;background-color:#343a40;background:url(../img/bg-masthead.jpg) no-repeat center center;background-size:cover;padding-top:8rem;padding-bottom:8rem}
header.masthead .overlay{position:absolute;background-color:#212529;height:100%;width:100%;top:0;left:0;opacity:.3}
header.masthead h1{font-size:2rem}
@media (min-width:768px){header.masthead{padding-top:12rem;padding-bottom:12rem}header.masthead h1{font-size:3rem}}
.showcase .showcase-text{padding:3rem}
.showcase .showcase-img{min-height:30rem;background-size:cover}
@media (min-width:768px){.showcase .showcase-text{padding:7rem}}
.features-icons{padding-top:7rem;padding-bottom:7rem}
.features-icons .features-icons-item{max-width:20rem}
.features-icons .features-icons-item .features-icons-icon{height:7rem}
.features-icons .features-icons-item .features-icons-icon i{font-size:4.5rem}
.features-icons .features-icons-item:hover .features-icons-icon i{font-size:5rem}
.testimonials{padding-top:7rem;padding-bottom:7rem}
.testimonials .testimonial-item{max-width:18rem}
.testimonials .testimonial-item img{max-width:12rem;-webkit-box-shadow:0 5px 5px 0 #adb5bd;box-shadow:0 5px 5px 0 #adb5bd}
.call-to-action{position:relative;background-color:#343a40;background:url(../img/bg-masthead.jpg) no-repeat center center;background-size:cover;padding-top:7rem;padding-bottom:7rem}
.call-to-action .overlay{position:absolute;background-color:#212529;height:100%;width:100%;top:0;left:0;opacity:.3}


/* Contact Us */

.contact{
    padding: 4%;
    height: 400px;
}

.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}

.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

/*Un Users */

/* Index  */
.banner-image{
    padding-bottom: 150px;
    padding-top:70px;     
    margin-bottom: 0px;     
    text-align: center;     
    color: #f8f8f8;      
    background: url("/pizza/storage/images/p1.jpg") no-repeat center;     
    background-size: cover; 
    }
    
    .inner-banner-image {
    padding-top:12%;
    padding-left:10%;     
    width:80%;     
    margin:auto;
    margin-top:103px;
    }
    
    .banner_content{
    position: relative;     
    padding-top: 6%;     
    padding-bottom: 6%;     
    overflow:hidden;     
    margin-bottom: 12%;     
    background-color: rgba(0, 0, 0, 0.7);     
    max-width: 660px; 
    }


